<div class="form-container">
  <mat-card *ngIf="isLogged()">
    <mat-card-title>Doação</mat-card-title>

    <mat-form-field>
      <input matInput placeholder="Título do livro" [(ngModel)]="donation.book_title"
              required>
      <mat-error *ngIf="titleControl.invalid">
        Este campo não pode estar vazio.
      </mat-error>
    </mat-form-field>

    <mat-error *ngIf="error">
      *Algo deu errado.
    </mat-error>

    <mat-card-footer>
      <button mat-raised-button color="warn" (click)="send()">Enviar</button>
    </mat-card-footer>
  </mat-card>

  <mat-card *ngIf="!isLogged()">
    <mat-error>
      <i class="material-icons">warning</i>
      Você precisa fazer <a routerLink="/login">login</a> para fazer uma doação.
      <i class="material-icons">warning</i>
    </mat-error>
  </mat-card>
</div>
