<mat-accordion>
  <mat-expansion-panel *ngFor="let loc of locations; let i = index" [class.late]="isLate(loc)" [class.closed]="loc.closed">
    <mat-expansion-panel-header>
      <mat-panel-title>
        [{{ loc.cod_book }}] {{ getBookTitle(loc.nomBook) }}
      </mat-panel-title>
      <mat-panel-description>
        {{ getLocationStatus(loc) }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="user" *ngIf="loc.user">
      <span class="name">Em posse de: {{ getUserFullName(loc.user) }}</span>
      <span class="email">E-mail: {{ loc.user?.email }}</span>
    </div>

    <mat-checkbox color="warn" [(ngModel)]="loc.closed" (ngModelChange)="onChange(i, loc)" *ngIf="!loc.closed">
      Fechar locação
    </mat-checkbox>

    <mat-error *ngIf="error[i]">
      *Algo deu errado ao atualizar esta doação.
    </mat-error>
  </mat-expansion-panel>
</mat-accordion>
