<div class="content-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          DIACOM
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>
        O Diretório Acadêmico de Computação (DIACOM) é o orgão representante do corpo discente do Instituto de Computação da UFAL, formado por estes.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          BiSiC
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>
        A Biblioteca Setorial do Instito de Computação (BiSiC) é organizada pelo DIACOM e seu acervo depende de doações.<br>
        Por isso é muito importante que você <a routerLink="/doacao">doe livros</a> e contribua com o futuro do IC.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
