.form-container {
  min-width: 300px;
  max-width: 500px;
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
}

.mat-form-field {
  width: 100%;
}

mat-card-footer {
  text-align: center;

  button {
    margin: 15px auto;
  }
}

.half-width {
  display: inline-block;
  width: 48%;
}
