<div class="content-container">
  <mat-card>
    <div class="book-cover">
      <img mat-card-image src="https://spark.adobe.com/images/landing/examples/architecture-book-cover.jpg">
    </div>

    <div class="book-info">
      <h2 class="book-title">
        Cálculo
        <span class="book-volume">Volume 1</span>
      </h2>
      <span class="book-edition">7ª edição</span>
      <span class="book-author">James Stewart</span>
      <span class="book-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</span>
      <mat-divider></mat-divider>
      <div class="disponibility">
        Disponibilidade

        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <span class="available">
          <i class="fa fa-check-circle"></i> Disponível
        </span>
        <span class="not-available">
          <i class="fa fa-minus-circle"></i> Não disponível
        </span>
      </div>
    </div>
  </mat-card>
</div>
