.content {
  display: flex;
}

.book-cover {
  display: inline-block;
  width: 40%;

  * {
    min-height: 0;
  }

  img {
    box-shadow: 1px 1px 4px 0 #888888;
    margin: 0;
    position: relative;
    max-width: 100%;
    max-height: 100%;
  }
}

.book-info {
  display: inline-block;
  margin-left: 20px;
  flex: 1;

  mat-divider {
    position: relative;
    margin: 10px 0;
  }
}

.book-title,
.book-edition,
.book-author {
  display: block;
}

.book-title {
  min-height: 0;
  color: #f44336;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.book-volume {
  color: #666;
  font-size: 20px;
  font-weight: normal;
}

.book-edition {
  font-weight: bold;
  font-size: 17px;
}

.book-author {
  font-weight: bold;
  font-size: 20px;
}

.book-description {
  display: block;
  padding-top: 15px;
}

.mat-form-field {
  width: 100%;
}

button {
  display: block;
  margin: 15px auto 0 auto;
}

.half-width {
  display: inline-block;
  width: 48%;
}

div.disponibility {
  color: darkblue;
  font-size: 20px;
  font-weight: bold;

  mat-progress-bar {
    margin-top: 10px;
  }

  span {
    display: block;
    font-size: 18px;
  }

  .available {
    color: darkgreen;
  }

  .not-available {
    color: darkred;
  }
}
