<div class="content-container">
  <mat-card class="content" *ngIf="!isLoading && nominalBook !== undefined">
    <div class="book-cover">
      <img mat-card-image src="{{ nominalBook.cover }}">
    </div>

    <div class="book-info">
      <h2 class="book-title">
        {{ nominalBook.title }}
        <span class="book-volume" *ngIf="nominalBook.volume !== null">Volume {{ nominalBook.volume }}</span>
      </h2>
      <span class="book-edition">{{ nominalBook.edition }}ª edição</span>
      <span class="book-author">{{ nominalBook.author }}</span>
      <span class="book-description">{{ nominalBook.description }}</span>
      <mat-divider></mat-divider>
      <div class="disponibility">
        Disponibilidade

        <mat-progress-bar mode="indeterminate" *ngIf="loadingAvailability"></mat-progress-bar>
        <span class="available" *ngIf="!loadingAvailability && available">
          <i class="fa fa-check-circle"></i> Disponível
        </span>
        <span class="not-available" *ngIf="!loadingAvailability && !available">
          <i class="fa fa-minus-circle"></i> Não disponível
        </span>

        <button mat-raised-button color="warn" routerLink="./editar" *ngxPermissionsOnly="'DIACOM'">Editar</button>
        <button mat-raised-button color="accent" (click)="openNewInstanceDialog()" *ngxPermissionsOnly="'DIACOM'">
          <i class="fa fa-plus-circle"></i> Adicionar instância
        </button>
      </div>
    </div>
  </mat-card>

  <mat-card *ngIf="!isLoading && nominalBook === undefined">
    <mat-error>
      <i class="material-icons">warning</i>
      Algo deu errado.
      <i class="material-icons">warning</i>
    </mat-error>
  </mat-card>

  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
