@import '../assets/stylesheets/variables';

.viewport {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

mat-toolbar {
  font-weight: bold;
}

.app-container {
  flex: 1;
  overflow: auto;
  background-color: rgba(230, 230, 255, 0.51);
}

::ng-deep .app-container *:first-child {
  min-height: calc(100% - 35px);
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.footer {
  height: $footer-height;
  font-size: 15px;
}
