<mat-toolbar color="primary">
  <img src="../../assets/images/LogoDIACOM.png" height="60px">
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/doacao">Doação</button>
  <button mat-button routerLink="/sobre">Sobre</button>

  <mat-form-field class="search-bar" [floatLabel]="'never'" color="warn">
    <input matInput placeholder="Procurar" type="search">
  </mat-form-field>
  <button mat-button><mat-icon>search</mat-icon></button>

  <button mat-button routerLink="/login" class="login">Login</button>
</mat-toolbar>
