<mat-toolbar color="primary">
  <img src="../../assets/images/LogoDIACOM.png" height="60px">
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/doacao">Doação</button>
  <button mat-button routerLink="/sobre">Sobre</button>

  <div class="input-group search-bar">
    <input type="text" class="form-control" placeholder="Buscar" aria-describedby="search"
           [(ngModel)]="searchTerm" (keydown)="onSearch($event)">
    <div class="input-group-append btn-search">
      <span class="input-group-text" id="search" (click)="onSearch()">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
    </div>
  </div>

  <button mat-icon-button routerLink="/livro/novo" matTooltip="Adicionar livro à biblioteca">
    <i class="fa fa-plus"></i>
  </button>
  <button mat-icon-button routerLink="/locacao/nova" matTooltip="Cadastrar nova locação"><i class="fa fa-book"></i></button>
  <button mat-icon-button routerLink="/notificacoes" [class.new]="hasNotification()" matTooltip="Doações e locações pendentes"><i class="fa fa-bell"></i></button>
  <button mat-button routerLink="/login" *ngIf="!isLogged()">Login</button>
  <button mat-button [matMenuTriggerFor]="menu" *ngIf="isLogged()">Conta</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/dados">Detalhes</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
