mat-toolbar button {
  font-weight: bold;
}

.search-bar {
  flex: 1;
  max-width: 600px;
  min-width: 200px;
  margin: 0 auto;
  padding: 0 16px;
}

.btn-search {
  cursor: pointer;
}

img {
  padding-right: 16px;
}
