<div>
  <mat-card class="form-container">
    <mat-card class="profile-pic">
      <img mat-card-image src="{{ picture }}">
      <mat-form-field>
        <input matInput placeholder="Imagem de perfil" [(ngModel)]="user.profile_pic">
      </mat-form-field>
    </mat-card>

    <form>
      <mat-form-field class="full-width">
        <input matInput disabled placeholder="E-mail institucional" value="{{ user.email }}">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Primeiro nome" name="firstName" [(ngModel)]="user.first_name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Sobrenome" name="lastName" [(ngModel)]="user.last_name">
      </mat-form-field>
      <mat-form-field>
        <span matPrefix>+55 &nbsp;</span>
        <input matInput placeholder="Telefone" name="phone" [(ngModel)]="user.phone">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>

      <button mat-raised-button color="warn" (click)="save()">Salvar</button>
    </form>
  </mat-card>
</div>
