<div class="content-container">
    <h1 class="search-term">
      <i class="fa fa-search" aria-hidden="true"></i> Buscando por "{{ searchTerm }}"...
    </h1>

    <mat-card class="book" *ngFor="let book of searchResults" [hidden]="isLoading">
      <mat-card-header>
        <img class="book-cover" mat-card-image routerLink="/livro/{{ book.cod }}"
             src="{{ book.cover }}">
      </mat-card-header>

      <mat-card-content>
        <h2 class="book-title">
          <a routerLink="/livro/{{ book.cod }}">{{ book.title }}</a>
          <span class="book-volume" *ngIf="book.volume">Volume {{ book.volume }}</span>
        </h2>
        <span class="book-edition">{{ book.edition }}ª edição</span>
        <span class="book-author">{{ book.author }}</span>
      </mat-card-content>
    </mat-card>

  <span class="no-results" *ngIf="!isLoading && searchResults.length === 0">
    😢 Nenhum livro encontrado.
  </span>

  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
