<div class="content-container">
  <mat-card>
    <mat-card-title class="search-term">
      <i class="fa fa-search" aria-hidden="true"></i> Buscando por "{{ searchTerm }}"...
    </mat-card-title>

    <mat-card class="book">
      <mat-card-header>
        <img class="book-cover" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-card-header>

      <h2 class="book-title"><a routerLink="">Cálculo</a></h2>
      <span class="book-volume">Volume 1</span>
      <span class="book-author">James Stweart</span>
    </mat-card>
  </mat-card>
</div>
